<footer class="text-center text-white" id="footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a class="btn btn-dark btn-floating m-1" href="mailto: umutekerdiker@gmail.com" role="button"><i class="fab fa-google"></i></a>
      <!-- Instagram -->
      <a class="btn btn-dark btn-floating m-1" href="https://www.instagram.com/the.rbp/" role="button"><i class="fab fa-instagram"></i></a>
      <!-- Linkedin -->
      <a class="btn btn-dark btn-floating m-1" href="https://www.linkedin.com/in/umut-ekerdiker-66a158154/" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-dark btn-floating m-1" href="https://github.com/UmutEkerdiker" role="button"><i class="fab fa-github"></i></a>
      <!-- End of Section: Social media -->
    </section>
    <p><em>© Umut Ekerdiker <br> 2022</em></p>
</footer>

</body>

</html>
