<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Grow Together!</title>

  <!-- Embed Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Indie+Flower&family=Quicksand:wght@500&display=swap" rel="stylesheet">

  <!-- Bootstrap, jQuery and custom stylesheets -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font awesome script -->
  <script src="https://kit.fontawesome.com/e764899330.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container-fluid" id="landing">
    <!-- Header/Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand logo" href=""><i class="fa-sharp fa-solid fa-seedling"></i>Grow Together</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Home</a>
          </li>
          <!-- Dropdown menu item in the navigation bar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Pomodoro Technique</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Don't Break The Chain</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Future Work</a>
            </div>
          </li>
          <!-- End of dropdown menu item in the navigation bar -->
          <li class="nav-item">
            <a class="nav-link" href="#cta">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
