<%- include("partials/header"); -%>

<section class="about-page">
<div class="about-wrap">
    <div class="mt-4"><img class="about-img" src="https://avatars.githubusercontent.com/u/34137527?s=400&u=cc62395ce61ff0ec5361b5920e292ac7cf6b1c5b&v=4" alt="my avatar">
    </div>
    <div class="about-content">
        <h2>Welcome to Grow Together!</h2>
<p>Since I’ve started learning programming, I realised that I have learnt many other soft skills along the way. I found that learning itself is a skill, and we can create and use methods to help us improve our learning process. I’ve also realised that protecting our mental and physical health while working towards our goals is very important. <br><br>
    Therefore, I’ve decided to create this web application, essentially a collection of self-improvements and learning tools, which will help us reach our goals. As much as I enjoyed learning programming, I found that after long hours of studying, my productivity dropped and my focus started to shift. That was until I found the Pomodoro method. While it wasn’t a perfect solution to my problem, there was significant improvement in my focus and productivity. And that is what matters, improvement, rather than perfection. <br><br>
    Secondly, I found myself feeling uncomfortable on the days I haven’t done any programming. Then I’ve realised, I mistakenly turned into a habit. After researching this, it became clear that daily repetition of things is the most effective way to turn them into habits, making them easier, even enjoyable to complete. You can use this tool to create good habits, or even stop bad habits. I’ve developed it to last 14 days, however feel free to create new and multiple chains.
    I hope you enjoy my application and I hope it helps you to improve and achieve your goals. <br><br>
    </p>    
</div>
</div>
</section>


<%- include("partials/footer"); -%>
