<%- include("partials/header"); -%>

<div class="future-work">
  <h1>
    For future improvement suggestions, please contact me by using the links
    below.
  </h1>
</div>

<%- include("partials/footer"); -%>
