<%- include("partials/header"); -%>
    <!-- Landing page content -->
    <div class="row">
      <div class="col-lg-6 landing-content">
        <h1 class="big-heading typewriter">Start your learning and self-development process by using proven methods. Free forever.</h1>
        <h2 class="small-heading">Grow Together provides excellent tools for learning and self development for anyone, anywhere. Learn with Pomodoro Technique and build habits with the legendary "Don't break the chain" method. Lorem Ipsum is simply
          dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
        <div class="row button-container">
          <div class="col-lg-6 start-button">
            <button type="button" class="btn btn-lg btn-light">Start Studying!</button>
          </div>
          <div class="col-lg-6 start-button">
            <button type="button" class="btn btn-lg btn-light">Build Habits!</button>
          </div>
        </div>

      </div>
      <div class="col-lg-6 text-center">
        <img class="app-image" src="app-img.svg" alt="app-img">
      </div>
    </div>
  </div>

<%- include("partials/footer"); -%>
