<%- include("partials/nologinheader"); -%>

      <!-- Landing page content -->
      <div class="row">
        <div class="col-lg-6 landing-content">
          <h1 class="big-heading typewriter">
            Start your learning and self-development process by using proven
            methods.<strong> Free forever.</strong>
          </h1>
          <h2 class="small-heading">
            Grow Together provides excellent tools for learning and self
            development for anyone, anywhere. Learn with <em><strong>Pomodoro Technique </strong></em>and
            build habits with the legendary <em><strong>"Don't break the chain" method.</strong></em> <br><br>
            I’ve developed this tool to be our support system through our learning
             and self-development process. If you have suggestions for improvements or
              new learning and self-development tools, feel free to contact me by using
               the buttons at the bottom of this page.
          </h2>
          <div class="row button-container">
            <div class="col-lg-6 start-button">
              <button type="button" class="btn btn-lg btn-light">
                <a class="landing-text" href="/login">Sign In!</a>
              </button>
            </div>
            <div class="col-lg-6 start-button">
              <button type="button" class="btn btn-lg btn-dark">
                <a class="landing-text" href="/register">Sign up!</a>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <img class="app-image" src="app-img.svg" alt="app-img" />
        </div>
      </div>

    <%- include("partials/footer"); -%>
  </body>
</html>
