<%- include("partials/header"); -%>

<h1 class="big-heading text-center">Pomodoro Timer</h1>

<!-- Timer box -->
<div class="container timer-section">
  <div class="border border-4 border-dark rounded p-4">
    <!-- Timer headers -->
    <div class="row">
      <p class="col-lg-4 pomodoro-work pomodoro-heading">Work:</p>
      <p class="col-lg-4 pomodoro-cycles pomodoro-heading">Cycles:</p>
      <p class="col-lg-4 pomodoro-break pomodoro-heading">Break:</p>
    </div>

    <!-- Timers -->
      <div class="row">
        <div class="col-lg-4 pomodoro-timer">
          <p id="w_minutes">25</p>
          <p class="colon">:</p>
          <p id="w_seconds">00</p>
        </div>
        <div class="col-lg-4 pomodoro-timer">
          <p id="cycles" class="pomodoro-timer pomodoro-cycles">0</p>
        </div>
        <div class="col-lg-4 pomodoro-timer">
          <p id="b_minutes" class="pomodoro-timer">5</p>
          <p class="colon">:</p>
          <p id="b_seconds">00</p>
        </div>
      </div>

    <!-- Timer buttons -->
    <div class="row mt-2">
      <div class="col-lg-4 pomodoro-button">
        <button class="btn btn-lg btn-light" type="button" id="start">Start</button>
      </div>
      <div class="col-lg-4 pomodoro-button">
        <button class="btn btn-lg btn-danger" type="button" id="reset">Reset</button>
      </div>
      <div class="col-lg-4 pomodoro-button">
        <button class="btn btn-lg btn-warning" type="button" id="stop">Stop</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/timer.js"></script>
<%- include("partials/footer"); -%>
