<%- include("partials/header"); -%>

<div class="login-form w-100 m-auto mt-5">
  <form action="/register" method="POST">
    <h2 class="mb-5">Please Register</h2>
    <div class="input-section">
      <div class="form-floating mb-2">
        <input
          name="username"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-4">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
    </div>
    <div class="submit-button">
      <button type="submit" class="btn btn-lg btn-light mb-2">
        Create Account
      </button>
    </div>
    <h5 class="mt-5">Sign up with Google is currently disabled.</h5>

    <!-- <div class="google-button">
      <a
        class="btn btn-dark btn-social btn-google"
        href="/auth/google"
        role="button"
      >
        <i class="fab fa-google"></i>
        Sign Up with Google
      </a>
    </div> -->
  </form>
</div>

<%- include("partials/footer"); -%>
